.s1 {
    background: url("../images/prva.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important
}

.s1 canvas {
    height: 80% !important;
    width: 80% !important;
    display: table;
    margin: 0 auto;
}

.s2 {
    background-color: black !important
}

.s3 {
    background-color: black !important
}

.s4 {
    background-color: black !important
}

.s5 {
    background-color: black !important
}

span {
    background: white !important
}

span#typed {
    background: none !important
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.typed-cursor {
    color: gold;
    background: none !important;
    font-size: x-large
}

span#typed {
    color: white;
    font-size: 25px;
}

#typedjs {
    display: table;
    margin: 0 auto;
}

#arrowDown {
    display: table;
    margin: 0 auto;
}

.fa-arrow-down {
    color: gold;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.topL {
    float: left !important;
}

.topR {
    float: right !important;
}

.centerImg {
    margin-left: 42%;
}

.bottomR {
    float: right !important;
}

.row {
    margin-right: 0% !important;
}