body{
     
}

.s1 {
<<<<<<< HEAD
<<<<<<< HEAD

=======
<<<<<<< Updated upstream
>>>>>>> parent of fbb99f7... popravka
    /* HOME - juka ovdje stavi sliku koja ce bit u pozadini */
    background: url('../images/one.jpg');
    background-size: cover;
=======
    background: url(../images/prva.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important
}

.s1 canvas {
    margin-top: -10% ;
<<<<<<< HEAD
    /* background: url('../images/one.jpg');
    background-size: cover; */
}

.s1 canvas {
    margin-top: -10%
=======
    /* HOME - juka ovdje stavi sliku koja ce bit u pozadini */
    background: url('../images/one.jpg');
    background-size: cover;
>>>>>>> parent of 63a3374... evo msm da je to malo usrano
=======
    
>>>>>>> Stashed changes
>>>>>>> parent of fbb99f7... popravka
}

.s2 {
    /* SKILLS - muha ovdje stavi pozadinu  */
    background: url('../images/two.jpg');
    background-size: cover;
}

.s3 {
    /* TEAM - kiseli ovdje stavi pozadinu  */
    background: url('../images/three.jpg');
    background-size: cover;
}

.s4 {
    /* PROJECTS - moj dio */
    background: url('../images/three.jpg');
    background-size: cover;
}

.s5 {
    /* FOOTER - juka   */
    background: url('../images/three.jpg');
    background-size: cover;
}

span {
    background: white !important
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
=======
>>>>>>> parent of fbb99f7... popravka
}

.typed-cursor {
    color: red;
}

span#typed {
    color: white;

    color: gold;
    font-size: 20px;
}

#typedjs {
    display: table;
    margin: 0 auto;
}

#arrowDown {
    display: table;
    margin: 0 auto;
}

.fa-arrow-down {
    color: gold;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> parent of 63a3374... evo msm da je to malo usrano
}
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}
>>>>>>> parent of fbb99f7... popravka
