<!-- ALDIN DA VIDI IMAL BOLJE NESTO -->

<!-- Loading screen -->
<div class="loader" id="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>    
<!-- Loading screen -->

<!-- Hexa -->
<div style="width:100%;" id="jsi-hex-container" class="hexa"></div>
<script src="./js/main.js" style="width: 100%;"></script>
<!-- Hexa -->

<!-- Loading screen skripta -->
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
<!-- Loading screen skripta -->

<!-- ABOC 3d -->
<script src="js/pixi3DEffect.js"></script>
<!-- ABOC 3d -->

