<section style="background-color: #79e3e8" id="cd-timeline" class="cd-container">

    <!-- WEB DEVELOPMENT -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-picture">
      <img class="skillsImg" src="./images/code.svg"
        alt="Picture">
    </div>
    <h3 style="margin-left: 250px;">Web Development</h3>
    <br>
    <br>  
    <br><br>
    <br>  
    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content">
      <h2 class="skillsHeading">HTML & CSS</h2> 
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">JS</h2>
    </div> <!-- cd-timeline-content -->
  </div> 

  <!-- MOBILE DEVELOPMENT -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie">
      <img class="skillsImg" src="./images/mobiledev.svg">
    </div> 
    <h3 style="margin-left: 250px;">Mobile Development</h3>
    <!-- cd-timeline-img -->
  </div>
  <br>
  <br>  
  <br>
  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content">
    <h2 class="skillsHeading">Android</h2> 
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-time" style="display: none;">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">Swift</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-time" style="display: none;">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">React Native</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

  <!-- WEB DESIGN -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-picture">
    <img class="skillsImg" src="./images/code.svg"
      alt="Picture">
  </div>
  <h3 style="margin-left: 250px;">Web Design</h3>
  <br>
  <br>  
  <br>
  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content">
    <h2 class="skillsHeading">Photoshop</h2> 
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-movie" style="display: none;">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">Illustrator</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-movie" style="display: none;">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">Adobe After Effects</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

  <!-- SOFTWARE DEVELOPMENT -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-time">
      <img class="skillsImg" src="./images/webdesign.svg"
        alt="Picture">
    </div> 
    <h3 style="margin-left: 250px;">Software Development</h3>
    <!-- cd-timeline-img -->
  </div>
  <br>
  <br>  
  <br>
  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content">
    <h2 class="skillsHeading">C/C++</h2> 
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-movie" style="display: none;">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">Python</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-movie" style="display: none; ">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">Java</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
  data-sal-easing="ease-out-bounce">
  <div class="cd-timeline-img cd-movie" style="display: none; ">
  </div> <!-- cd-timeline-img -->

  <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <h2 class="skillsHeading">C#</h2>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->


</section> <!-- cd-timeline -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 -->
<script src="./node_modules/sal.js/dist/sal.js"></script>
<script>
  sal({
    threshold: 1,
    once: false,
  });
</script>