<!-- TODO: JUKA DA POREDA SLIKA-->
<!-- TODO: JA ILI ALDIN CEMO URADIT MIJENJANJE SLIKA NA KLIK -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="topL img-responsive" src="./images/team-ico.png" alt="slika1">
    </div>
    <div class="col-6">
      <img class="centerImg img-responsive" src="./images/team-ico.png" alt="slika2">
  </div>
</div>
<div class="row">
    <div class=" offset-4 col-4">
      <img class="topR img-responsive" src="./images/team-ico.png" alt="slika3">
  </div>
</div>
  <div class="row">
      <div class="col-6">
          <img class="bottomL img-responsive" src="./images/team-ico.png" alt="slika4">
      </div>
      <div class="col-6">
          <img class="bottomR img-responsive" src="./images/team-ico.png" alt="slika5">
      </div>
  </div>
</div>