<!-- TODO: JUKA DA POREDA SLIKA-->
<!-- TODO: JA ILI ALDIN CEMO URADIT MIJENJANJE SLIKA NA KLIK -->
<div class="row">
    <img class="topL img-responsive" src="./images/team-ico.png" alt="slika1">
    <img class="topR img-responsive" src="./images/team-ico.png" alt="slika2">
</div>

<div class="row">
    <img class="centerImg img-responsive" src="./images/team-ico.png" alt="slika3">
</div>

<div class="row">
    <img class="bottomL img-responsive" src="./images/team-ico.png" alt="slika4">
    <img class="bottomR img-responsive" src="./images/team-ico.png" alt="slika5">
</div>