<!-- TODO: PRAVE SLIKE UBACIT -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="topL img-responsive" id="slika1" src="./images/abuNacrtan.jpg" width="200" height="200" alt="slika1">
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="topR img-responsive" id="slika2" src="./images/kisoNacrtan.jpg" width="200" height="200" alt="slika2">
    </div>
  </div>
  <div class="row center">
    <div class="offset-0 offset-sm-0 offset-md-4 col-12 col-sm-12 col-md-4 mt-4 mt-sm-4 mt-md-0">
      <img class="centerImg img-responsive" id="slika" src="./images/combeNacrtan.jpg" width="300" height="300"
        alt="slika3" style="display: none; opacity: 0">
      <img class="centerImg img-responsive" id="slika3" src="./images/combeNacrtan.jpg" width="300" height="300"
        alt="slika3">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="bottomL img-responsive" id="slika4" src="./images/aldinNacrtan.png" width="200" height="200"
        alt="slika4">
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="bottomR img-responsive" id="slika5" src="./images/combeNacrtan.jpg" width="200" height="200"
        alt="slika5">
    </div>
  </div>
</div>

<script src="./js/swapImage.js"></script>